.card{
    border: none;
    outline: none;
    background-color: var(--light);
    border-radius: 20px;
.card-title{
    color: var(--dark);
}
.table{
    --bs-table-color: var(--dark);
    --bs-table-bg: var(--light) !important;
}
.botn{
    background-color: var(--blue);
    color:var(--light);
    padding: 3px 6px 3px 6px;
    border-radius: 18px;
}
.delbotn{
    background-color: var(--red);
    color: var(--light);
    padding: 3px 6px 3px 6px;
    border-radius: 18px;
}